{% extends 'index.html' %}
{% load static i18n %}

{% block body %}
    <div class="container">
        <div class="sub_container black_container" >
            

            <div class="title_slide">

                <p class="myname">Hi, my name is Bruno Grifo</p>

            </div>
            <div class="parent-intro">
                <div class="intro">
                    <p>I am from Coruche, world capital of cork.</p>
                    <p>I lived in Coimbra, where I met my beautifull girlfriend.</p>
                    <p>I'm currently living in <mark class="blue">Lisbon</mark>.</p>
                    <p>I've used the same hair cut for the past 10 years.</p>
                    <p>I have five dogs and I love them all.</p>
                    <p>I'm a <mark class="blue">software developer</mark> and I like <mark class="blue">web development</mark>, so yes, I <mark class="blue">code</mark> sometimes.</p>
                    <p>In college I was a member of <a href="http://www.jest.pt" target="_blank">JEST</a> which is basically a bunch of cool and smart people.</p>
                    <p>I am into cocktail mixology and wine tasting.</p>
                    <p>I love tennis and I want to believe that, one day, i'll be as good as Roger Federer.</p>
                    <p>I have a <a href="{% url 'mywebsite:Resume' %}" target="_blank">resumé</a> because it is kind of mandatory, so go ahead and click on that.</p>
                    <p>I'm just a common guy from any reasonable prespective.</p>
                    <p>I'm a hero from my mom's prespective.</p>
                </div>

                <div class="thumbnail"><img src="/media/img/semcopo.png" alt=""></div>
            </div>

            <div class="scroll"></div>

            
        </div>
        <div class="sub_container white_container" >
            <div class="title">
                <p>Main Outdoors Activities</p>

            </div>
            <div class="description">
                I strongly believe that everyone must be able to manage a good healthy work-life balance, so I always try to make sure that I do my best at work and enjoy my free time later. 
                With almost all of my free day light time filled with theese activities, it helps me to <mark class="darkblue">stay healthy</mark> and <mark class="darkblue">relieve stress</mark>. I also love to go out with friends and family which I usually do on weekends.
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-general">
                    <div class="gallery-wrap wrap-effect">
                        <div class="item" style="border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        background-image: url('/media/img/padel.jpeg');"></div>
                        <div class="item" style="background-image: url('/media/img/tenis.jpeg');"></div>
                        <div class="item" style="background-image: url('/media/img/swim.jpg');"></div>
                        <div class="item" style="background-image: url('/media/img/surf.jpeg');"></div>
                        <div class="item" style="background-image: url('/media/img/trail.jpeg');"></div>
                        <div class="item" style="border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        background-image: url('/media/img/bycicle.jpeg');"></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
        <div class="sub_container black_container" >
            <div class="title">

                <p>Hoobies</p>

            </div>
            <div class="split">
                <div>
                    <img src="/media/img/controller.png" alt="Controller">
                </div>
                <div>
                    <img class="netflix" src="/media/img/netflix.png" alt="Netflix">
                </div>
                <div>
                    <img src="/media/img/code.png" alt="Code">
                </div>
            </div>

            <div class="description">
                    When it comes to hobbies, althought I have a lot of them, like most people do, I usually go for the same three, which are <mark class="blue">video games</mark>, <mark class="blue">movies or tv series</mark> and working on my <mark class="blue">project ideias or coding</mark>. I don't like to play single player games so I only go online when my friends are on discord, and when my girlfriend is at home we usually watch some Netflix and althought is not that often, we recently started to assemble puzzles. Since I moved to Lisbon, when i'm alone and I don't feel like playing, i've been enjoying myself working on my own projects/ideias.
            </div>
        </div>

        <div class="sub_container white_container projects" >

            <div class="title">

                <p>Mini Projects</p>

            </div>
            <div class="description">
                I've always loved to do coding projects and participate on hackathons and engineering competitions during my journey in college, however, and spite of having a lot of cool ideas, i've never really dedicated myself to my own mini projects. That changed a little bit in 2021 Spring. Being locked down by the covid-19 pandemic and unhappy with my job at the time, this was a way of keep learning about the things that I like. I plan on keep working on my own ideas and this section will serve as a blog for that.
            </div>
              <section class="timeline">

                {% for project in projects%}

                    <div class="timeline-item">
                
                        <div class="timeline-img"></div>
                
                        <div class="timeline-content timeline-card ">
                        <div class="timeline-img-header" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('{{project.image.file_upload.url}}') center center no-repeat; background-size: cover;">
                            <h2>{{project.title}}</h2>
                        </div>
                        <div class="date">{{ project.added|date:"M d, Y" }}</div>
                        <p>{{project.description}}</p>
                        <a class="bnt-more" href="{% url 'mywebsite:ProjectView' project.id %}" target="_blank">More</a>
                        </div>
                
                    </div> 

                {% endfor %}
                   
            
            </section>
            
        </div>
        
    </div>  
      
{% endblock body%}