{% extends 'index.html' %}
{% load static i18n %}

{% block body %}
    <div class="container">
        <div class="sub_container black_container" >
            <div class="alert">
                <strong>Warning!</strong> The layout for tablets and smartphones is still on the making so you may experience some unformatted elements below width 1150px.
              </div>

            <div class="title_slide">

                <p class="myname">Hi, my name is Bruno Grifo</p>

            </div>
            <div class="parent-intro">
                <div class="intro">
                    <p>I am from Coruche, world capital of cork.</p>
                    <p>I lived in Coimbra, where i met my beautifull girlfriend.</p>
                    <p>I'm currently living in <mark class="blue">Lisbon</mark>.</p>
                    <p>I've used the same hair cut for the past 10 years.</p>
                    <p>I have five dogs and love them all.</p>
                    <p>I'm a <mark class="blue">software developer</mark> and i like <mark class="blue">web development</mark>, so yes, i <mark class="blue">code</mark> sometimes.</p>
                    <p>In college i was a member of <a href="http://www.jest.pt" target="_blank">JEST</a> which is basically a bunch os cool and smart people.</p>
                    <p>I am into cocktail mixology and wine tasting.</p>
                    <p>I love tennis and i want to believe that, one day, i'll be as good as Roger Federer.</p>
                    <p>I have a <mark class="blue">resumé</mark> because it is kind of mandatory, so go ahead and click on that.</p>
                    <p>I'm just a common guy from any reasonable prespective.</p>
                    <p>I'm a hero from my mom's prespective.</p>
                </div>

                <div class="thumbnail"><img src="/media/img/semcopo.png" alt=""></div>
            </div>

            <div class="scroll"></div>

            
        </div>
        <div class="sub_container white_container" >
            <div class="shader1">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="title">
                <p>Main Outdoors Activities</p>

            </div>
            <div class="description">
                I strongly believe everyone must be able to manage a good healthy work-life balance, so i always try to make sure that i do my best at work and enjoy my free time later. 
                With almost all of my free day light time filled with theese Activitie, it helps me to <mark class="darkblue">stay wealthy</mark> and <mark class="darkblue">relieve stress</mark>. I also love to go out with friends and family which i usually do on weekends.
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-general">
                    <div class="gallery-wrap wrap-effect">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
        <div class="sub_container black_container" >
            <div class="shader2">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="title">

                <p>Hoobies</p>

            </div>
            <div class="split">
                <div>
                    <img src="/media/img/controller.png" alt="Controller">
                </div>
                <div>
                    <img class="netflix" src="/media/img/netflix.png" alt="Netflix">
                </div>
                <div>
                    <img src="/media/img/code.png" alt="Code">
                </div>
            </div>

            <div class="description">
                    When it comes to hobbies, althought i have a lot of them, like most people, i usually do same three, which are video games, movies or tv series and working on my project ideias or coding. I don't like to play single player games so i only go online when my friends are on discord. When my girlfriend is at home, we usually watch some Netflix and althought is not that often, we recently start to assemble puzzles. Since i moved to Lisbon when i'm alone and i don't feel like playing, i've started to work on my own projects/ideias.
            </div>
            <div class="footer-svg-white">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </div>

        <div class="sub_container white_container projects" >

            <div class="title">

                <p>Mini Projects</p>

            </div>
              
              <section class="timeline">

                 
              
                  <div class="timeline-item">
              
                    <div class="timeline-img"></div>
              
                    <div class="timeline-content timeline-card ">
                      <div class="timeline-img-header">
                        <h2>Card Title</h2>
                      </div>
                      <div class="date">25 MAY 2016</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                      <a class="bnt-more" href="">More</a>
                    </div>
              
                  </div>   
              
                  
              
                  <div class="timeline-item">
              
                    <div class="timeline-img"></div>
              
                    <div class="timeline-content timeline-card ">
                      <div class="timeline-img-header">
                        <h2>Card Title</h2>
                      </div>
                      <div class="date">10 JULY 2016</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                      <a class="bnt-more" href="">More</a>
                    </div>
                  </div>   
              
                  
            
              </section>
              
            <div class="footer-svg">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
    </div>  
      
{% endblock body%}