{% extends 'index.html' %}
{% load static i18n %}

{% block body %}
    <div class="container">
        <div class="sub_container black_container" >
            <div class="alert">
                <strong>Warning!</strong> The layout for tablets and smartphones is still on the making so you may experience some unformatted elements below width 1150px.
            </div>

            <div class="title_slide">

                <p class="myname">Hi, my name is Bruno Grifo</p>

            </div>
            <div class="intro">
                <p>I am from Coruche, world capital of cork.</p>
                <p>I lived in Coimbra, where i met my beautifull girlfriend.</p>
                <p>I'm currently living in <mark class="blue">Lisbon</mark>.</p>
                <p>I've used the same hair cut for the past 10 years.</p>
                <p>I have five dogs and love them all.</p>
                <p>I'm a <mark class="blue">software developer</mark> and i like <mark class="blue">web development</mark>, so yes, i <mark class="blue">code</mark> sometimes.</p>
                <p>In college i was a member of <a href="http://www.jest.pt" target="_blank">JEST</a> which is basically a bunch os cool and smart people.</p>
                <p>I am into cocktail mixology and wine tasting.</p>
                <p>I love tennis and i want to believe that, one day, i'll be as good as Roger Federer.</p>
                <p>I have a <a href="/media/files/brunogrifo.pdf" target="_blank">resumé</a> because it is kind of mandatory, so go ahead and click on that.</p>
                <p>I'm just a common guy from any reasonable prespective.</p>
                <p>I'm a hero from my mom's prespective.</p>
            </div>

            <div class="thumbnail"><img src="/media/img/semcopo.png" alt=""></div>

            <div class="scroll"></div>
            
        </div>
        <div class="sub_container white_container" >
            <div class="title">
                <p>Main Outdoors Activities</p>

            </div>
            <div class="description">
                I strongly believe everyone must be able to manage a good healthy work-life balance, so i always try to make sure that i do my best at work and enjoy my free time later. 
                With almost all of my free day light time filled with theese Activitie, it helps me to <mark class="darkblue">stay wealthy</mark> and <mark class="darkblue">relieve stress</mark>. I also love to go out with friends and family which i usually do on weekends.
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-general">
                    <div class="gallery-wrap wrap-effect">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
        <div class="sub_container black_container" >
            <div class="title">

                <p>Hoobies</p>

            </div>
            <div class="description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur suscipit laudantium ratione, accusantium, ipsam, sunt consequuntur veritatis fuga architecto quasi aliquam incidunt ab ex. Atque eaque eum maiores officiis dolorem debitis libero laudantium aut voluptatibus magnam voluptatem similique incidunt, suscipit sint veritatis quaerat ea assumenda dignissimos accusamus possimus? Illo, unde.

            </div>
            
        </div>
    </div>  
      
{% endblock body%}